---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import GeneratorApp from "../components/generator/GeneratorApp.tsx";
---

<Layout>
  <div class="flex flex-col mx-auto max-w-7xl gap-8 py-8">
    <Navbar />
    <h2 class="white-800">TEST</h2>
    <GeneratorApp client:only="react" />
    <h2 class="white-800">TEST</h2>
  </div>
</Layout>
